@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #370C10;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #370C10;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'The Seasons Regular'
}

p {
  font-family: 'Montserrat'
}

a:hover {
  opacity: 0.75
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'The Seasons Regular';
  src: url('/fonts/TheSeasons-Regular.otf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
}